In [30]:
dataPath="C:/Users/David/Desktop/DevOps2019/2023/python/titanic/data"

genderPath=dataPath+"\\gender_submission.csv"
trainPath=dataPath+"\\train.csv"
testPath=dataPath+"\\test.csv"

In [31]:
import pandas as pd
import numpy as np

genderData=pd.read_csv(genderPath)
genderData

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [32]:
trainData=pd.read_csv(trainPath)
trainData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [33]:
testData=pd.read_csv(testPath)
testData

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

There is a difference between the training and test data. Test data has one fewer columns, the *survived* column. This is what we seek to predict.

# Missing Values Check

In [34]:
trainData.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [35]:
print(trainData["Age"].std())
print(trainData["Age"].median())

14.526497332334044
28.0

In [36]:
trainData["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [37]:
trainData["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

## Fill in for Age 
We'll take the median age and randomly fill it + or - the standard deviation.

In [38]:
median_age = trainData['Age'].median()
std_dev = trainData['Age'].std()

for i in trainData[trainData['Age'].isnull()].index:
    trainData.at[i,'Age'] = median_age + np.random.normal(0,std_dev)

In [39]:
trainData.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Fill in for Cabin and Embarked
We'll replace the NaN values with dummy data. In this case, we'll just substitute NaN for "U" or "Unknown"

In [40]:
trainData["Cabin"].fillna("Unknown", inplace=True)
trainData["Embarked"].fillna("Unknown", inplace=True)

In [41]:
trainData.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# Ordinal Encoding Text

To finish preprocessing, the categorical data values must be converted to numbers with proper scaling.
OneHotEncoder has been chosen for the binary category of "Sex", so it just becomes 0 or 1.

OrdinalEncoder is chosen for the "Embarked" category as there is an implied order from where one embarked from.

In [42]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
ordinal_encoder = OrdinalEncoder()
onehot=OneHotEncoder()
ordinal_encoded = ordinal_encoder.fit_transform(trainData[["Embarked"]])
onehot_encoded = onehot.fit_transform(trainData[["Sex", "Cabin"]]).toarray()
titanic_cat_encoded = np.concatenate((ordinal_encoded, onehot_encoded), axis=1)
titanic_cat_encoded

array([[2., 0., 1., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [2., 1., 0., ..., 0., 0., 1.],
       ...,
       [2., 1., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 1.]])

In [43]:
#titanic_cat_encoded.categories_

# Correlations

In [44]:
corr_matrix=trainData_encoded.corr()
corr_matrix["Survived"].sort_values(ascending=False)

NameError: name 'trainData_encoded' is not defined

In [ ]:
corr_matrix

## Data Preparation Pipeline

In [47]:
titanic_num = trainData.drop(["Name", "Sex", "Cabin", "Embarked", "Ticket"], axis=1 )
titanic_num

     PassengerId  Survived  Pclass        Age  SibSp  Parch     Fare
0              1         0       3  22.000000      1      0   7.2500
1              2         1       1  38.000000      1      0  71.2833
2              3         1       3  26.000000      0      0   7.9250
3              4         1       1  35.000000      1      0  53.1000
4              5         0       3  35.000000      0      0   8.0500
..           ...       ...     ...        ...    ...    ...      ...
886          887         0       2  27.000000      0      0  13.0000
887          888         1       1  19.000000      0      0  30.0000
888          889         0       3  30.135541      1      2  23.4500
889          890         1       1  26.000000      0      0  30.0000
890          891         0       3  32.000000      0      0   7.7500

[891 rows x 7 columns]

In [ ]:
#titanic_cat=trainData.drop([], axis=1)

In [48]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

num_pipeline=Pipeline([('imputer', SimpleImputer(strategy="median")),
                                            ('std_scaler', StandardScaler()),])

titanic_num_tr = num_pipeline.fit_transform(titanic_num)

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer

num_attribs = list(titanic_num)
cat_attribs = ["Sex", "Cabin", "Embarked"]


def get_encoded(data):
    return titanic_cat_encoded

cat_transformer = FunctionTransformer(get_encoded)
full_pipeline = ColumnTransformer([("num", num_pipeline, num_attribs), ("cat", cat_transformer, cat_attribs)])

In [50]:
titanic_prepared=full_pipeline.fit_transform(trainData)

# Start Training a Model to Predict the "Survived" Column

In [51]:
from sklearn.tree import DecisionTreeClassifier
tree_clf = DecisionTreeClassifier()
tree_clf.fit(titanic_prepared, trainData["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [54]:

titanic_predictions = tree_clf.predict(testData)

ValueError: could not convert string to float: 'Kelly, Mr. James'

In [ ]:
tree_clf.score(titanic_prepared, trainData["Survived"])